asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
cssbeautifier==2.0.3
django==5.2
djlint==1.44.2
editorconfig==0.17.1
gunicorn==26.2.0
idna==3.19
jsbeautifier==2.0.3
json5==0.15.0
pathspec==1.1.1
psycopg==3.3.5
psycopg-binary==3.3.5
python-dotenv==1.2.3
pyyaml==6.0.3
regex==2026.7.19
requests==2.34.2
ruff==0.16.4
sqlparse==0.6.0
urllib3==2.7.0
whitenoise==6.12.0
