{% extends 'home/base.html' %}

{% block content %}
  <main class="w-full mb-20 min-h-screen max-w-6xl mx-auto">
    {% comment %} Experience Section {% endcomment %}
    <section class="flex flex-col justify-center items-center py-20">
      <h1 class="text-4xl font-bold">my experience.</h1>
      <div class="bg-tertiary-600 w-3/4 h-0.5 rounded-full my-10"></div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 justify-items-center w-full max-w-4xl px-4">
        {% for exp in experiences %}
          <article class="group relative z-10 hover:z-30 bg-neutral-300 w-full max-w-md lg:only:col-span-2 p-4 drop-shadow-2xl rounded-xl transition-transform hover:scale-105 duration-300 ease-in-out h-full flex flex-col">
            <div class="flex">
              <span class="text-sm font-light">{{ exp.get_category_display }}</span>
            </div>
            <h2 class="font-semibold text-xl">{{ exp.title }}</h2>
            <p class="text-sm mt-2 grow">{{ exp.description }}</p>
            {% if exp.is_ongoing %}
              <p class="text-sm font-light mt-4">Ongoing</p>
            {% else %}
              <p class="text-sm font-light mt-4">Completed on {{ exp.end_date }}</p>
            {% endif %}
            {% comment %} Hover Thumbnail Dropdown {% endcomment %}
            {% if exp.thumbnail %}
              <div class="absolute left-0 top-full mt-2 z-30 w-full opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition-opacity duration-300 bg-neutral-200 p-2 rounded-xl shadow-xl">
                <img src="{{ exp.thumbnail }}"
                     alt="{{ exp.title }}"
                     width="250"
                     height="150"
                     class="w-full h-auto rounded-lg object-cover" />
              </div>
            {% endif %}
          </article>
        {% empty %}
          <p class="text-center font-light text-primary-100 col-span-full">No experiences added yet.</p>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}
