{% extends 'home/base.html' %}

{% block meta %}
  <title>
    {% if experience %}
      Edit Experience
    {% else %}
      Add Experience
    {% endif %}
    - {{ nick }}
  </title>
{% endblock %}
{% block content %}
  <main class="max-w-full mx-auto">
    <section class="flex flex-col items-center min-h-screen">
      <div class="flex flex-col justify-center mt-12">
        <h1 class="text-4xl font-bold mb-12">
          {% if experience %}
            Edit Experience
          {% else %}
            Add New Experience
          {% endif %}
        </h1>
        <form method="post"
              action="{% if experience %}{% url 'home:update_experience' experience.pk %}{% else %}{% url 'home:create_experience' %}{% endif %}">
          {% csrf_token %}
          <div class="mb-5 flex flex-col gap-2">
            <label for="password" class="text-sm font-medium">Enter Admin Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   required
                   class="w-full rounded-lg border border-primary-100 bg-neutral-200 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-primary-800">
          </div>
          {% for field in form %}
            <div class="w-full flex flex-col gap-2 mb-5 form-w-full">
              <label for="{{ field.id_for_label }}" class="text-sm font-medium">{{ field.label }}</label>
              <div class="w-full rounded-lg border border-primary-100 bg-neutral-200 text-sm transition focus-within:border-primary-500 focus-within:ring-2 focus-within:ring-primary-800">
                {{ field }}
              </div>
              {% for error in field.errors %}
                <p class="text-red-400">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit"
                  class="bg-secondary-100 p-3 cursor-pointer rounded-lg text-neutral-100 font-bold">
            {% if experience %}
              Simpan Perubahan
            {% else %}
              Tambah Experience
            {% endif %}
          </button>
          <a href="{% url 'home:experience' %}"
             class="bg-black p-3 rounded-lg text-neutral-100 font-bold">Batal</a>
        </form>
      </div>
    </section>
  </main>
{% endblock %}
