{% extends "home/base.html" %}

{% load static %}

{% block content %}
  {% comment %}Profile Page Content{% endcomment %}
  <main class="w-full mb-20">
    <div class="max-w-full mx-2 lg:max-w-6xl lg:mx-auto h-full">
      {% comment %}Hero Section{% endcomment %}
      <section class="flex flex-col lg:flex-row justify-center items-center h-screen outline-yellow-500">
        <p class="text-4xl font-bold ml-20 mb-10 mt-20 lg:mb-50">
          <span class="text-primary-100 inline-block animate-fade-in-down animate-blur">Halo!</span> I'm
          <br />
          <span class="font-inter font-bold text-6xl">{{ name }}</span>
          <br />
          a <span class="font-light text-red-500">Computer</span> <span class="font-light text-blue-500">Science</span> student
          <br />
          at <span class="font-light text-yellow-500">Universitas Indonesia</span>
        </p>
        <div class="group relative w-full lg:w-1/2 h-full animate-fade-in-up animate-blur">
          <img src="{% static 'home/img/me_standing.webp' %}"
               alt="{{ nick }}"
               width="500"
               height="500"
               class="absolute w-full h-full object-contain object-center inset-0 transition-opacity duration-300 group-hover:opacity-0 hidden lg:block" />
          <img src="{% static 'home/img/me_posed.webp' %}"
               alt="{{ nick }} Hover"
               width="500"
               height="500"
               class="absolute w-full h-full object-contain object-center inset-0 transition-opacity duration-300 lg:opacity-0 lg:group-hover:opacity-100" />
        </div>
      </section>
      {% comment %}Section Separator{% endcomment %}
      <div class="bg-tertiary-600 w-full h-0.5 rounded-full my-10"></div>
      {% comment %}About Me Section{% endcomment %}
      <section class="flex flex-col items-center w-full">
        <p class="text-center text-2xl font-bold mb-10">
          what you should know.
          <br />
          <span class="text-sm text-secondary-100 italic">about me</span>
        </p>
        {% comment %}Student Card Mock{% endcomment %}
        <div class="relative flex items-center bg-neutral-200 w-80 h-40 lg:w-100 lg:h-50 rounded-lg drop-shadow-2xl gap-10 px-5 mb-20 hover:-translate-y-2 transition-transform ease-in-out duration-300">
          <img src="{% static 'home/img/ui.webp' %}"
               alt="Universitas Indonesia Logo"
               width="100"
               height="100"
               class="absolute top-5 right-5 opacity-50 -z-1" />
          <div>
            <img src="{% static 'home/img/cat.webp' %}"
                 alt="Student"
                 width="100"
                 height="100" />
          </div>
          <p class="text-lg lg:text-2xl">
            <span class="font-bold">{{ npm }}</span>
            <br />
            <span class="mt-2 text-sm/tight lg:text-xl/tight">
              {{ name }}
              <br />
              {{ study_program }}
            </span>
          </p>
          {% comment %}Yellow Line{% endcomment %}
          <div class="absolute bottom-0 left-0 right-0 h-3 bg-yellow-300 rounded-b-lg"></div>
        </div>
        <p class="max-w-xs lg:max-w-lg font-semibold text-lg">{{ bio }}</p>
      </section>
      <div class="bg-secondary-100 w-1/2 h-0.5 rounded-full mt-10 mb-5 mx-auto"></div>
      {% comment %}My Interests Section{% endcomment %}
      <section class="flex flex-col items-center w-full">
        <p class="text-center font-bold mb-5">
          <span class="text-sm text-secondary-100 italic">my interests</span>
        </p>
        <p class="text-center font-bold text-4xl mb-10">I'm interested in</p>
        <div class="flex flex-col bg-linear-to-b from-primary-800 to-tertiary-800 rounded-2xl w-100 h-20 justify-center text-neutral-100 text-center font-bold text-4xl overflow-hidden">
          <div class="animate-scroll-interests flex flex-col w-full">
            {% for interest in interests %}
              <p class="h-20 flex items-center justify-center shrink-0">{{ interest }}</p>
            {% endfor %}
          </div>
        </div>
      </section>
      <div class="bg-secondary-100 w-1/2 h-0.5 rounded-full mt-10 mb-5 mx-auto"></div>
      {% comment %}Experience and Competitions Section{% endcomment %}
      <section class="flex flex-col items-center w-full">
        <p class="text-center font-bold mb-5">
          <span class="text-sm text-secondary-100 italic">what I'm proud of</span>
        </p>
        <ul class="flex flex-col bg-linear-to-b from-primary-800 to-secondary-600 rounded-2xl w-full md:w-125 py-6 px-4 justify-center text-neutral-100 text-center font-semibold text-md lg:text-2xl divide-y-2 divide-neutral-300">
          {% for exp in experience_truncated %}
            <li class="py-4">{{ exp }}</li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </main>
{% endblock %}
