{% extends 'home/base.html' %}

{% block meta %}
  <title>
    {% if project %}
      Edit Project
    {% else %}
      Add Project
    {% endif %}
    - {{ nick }}
  </title>
{% endblock %}
{% block content %}
  <main class="max-w-full mx-auto">
    <section class="flex flex-col items-center min-h-screen">
      <div class="flex flex-col justify-center mt-12">
        <h1 class="text-4xl font-bold mb-12">
          {% if project %}
            Edit Project
          {% else %}
            Add New Projects
          {% endif %}
        </h1>
        <form method="post"
              action="{% if project %}{% url 'home:update_project' project.slug %}{% else %}{% url 'home:create_project' %}{% endif %}"
              class="project-form">
          {% csrf_token %}
          {% for field in form %}
            <div class="w-full flex flex-col gap-2 mb-5 form-w-full">
              <label for="{{ field.id_for_label }}" class="text-sm font-medium">{{ field.label }}</label>
              <div class="w-full rounded-lg border border-primary-100 bg-neutral-200 text-sm transition focus-within:border-primary-500 focus-within:ring-2 focus-within:ring-primary-800">
                {{ field }}
              </div>
              {% for error in field.errors %}
                <p class="text-red-400">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit"
                  class="bg-secondary-100 p-3 cursor-pointer rounded-lg text-neutral-100 font-bold">
            {% if project %}
              Simpan Perubahan
            {% else %}
              Tambah Project
            {% endif %}
          </button>
          <a href="{% url 'home:projects' %}"
             class="bg-black p-3 rounded-lg text-neutral-100 font-bold">Batal</a>
        </form>
      </div>
    </section>
  </main>
{% endblock %}
